# idea
out
.idea/
*.iml

# maven
target
/GS_JMock/build/

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

#compilation logs
.gwt/

#gwt junit compilation files
www-test/
/NetBeansProjects/FirstJSF/nbproject/private/
/NetBeansProjects/FirstJSF/build/
/NetBeansProjects/FirstJSF/dist/
/NetBeansProjects/JpaTestHefel/nbproject/private/
/NetBeansProjects/SessionBeanIntro/nbproject/private/
/NetBeansProjects/SessionBeanIntro/SessionBeanIntro-ejb/nbproject/private/
/NetBeansProjects/SessionBeanIntro-app-client/nbproject/private/
/NetBeansProjects/SessionBeanIntroClientLib/nbproject/private/
/NetBeansProjects/SessionBeanIntroClientLib/build/
/NetBeansProjects/SessionBeanIntro-app-client/build/
/NetBeansProjects/SessionBeanIntroClientLib/dist
/NetBeansProjects/SessionBeanIntro/SessionBeanIntro-ejb/build/
/NetBeansProjects/SessionBeanIntro/SessionBeanIntro-ejb/dist/
/NetBeansProjects/SessionBeanIntro/build/
/NetBeansProjects/SessionBeanIntro-app-client/dist/
/NetBeansProjects/SessionBeanIntro/dist/
/NetBeansProjects/AeroexpressClient/nbproject/private/
/NetBeansProjects/AeroexpressClient/build/
/NetBeansProjects/AeroexpressClient/dist/