<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Книжный магазин</h1>
          <p class="lead text-muted">Умные книги по доступной цене.
          Чтение развивает мозг !</p>
        </div>
    </section>
          
<!--
    <div class="row">
		<div class="col-xs-12 col-md-12">
			<h2 class="section-headline"><span>Home</span></h2>
		</div>
		<div class="col-xs-3 col-md-3">
			<img src="../../../assets/image/1.png" class="img-responsive right" style="width:60px; z-index:1;margin-top: 40px;" />
		</div>
			<img src="../../../assets/image/4.png" class="img-responsive right" style="margin-top: 70px; z-index: -2; height:40px;width:1000px;" />
	</div>
-->

<!--
	<hr style="position: absolute;width:85%; height:6px; background-color: #333; z-index:-1; margin-top: -170px;" />
	<hr />
-->

	<div class="row">
		<div class="col-xs-4 col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/bookList">
						<img style="width: 80%;" src="../../../assets/image/bestseller.png" class="img-responsive" />
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-4  col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/hours">
						<img style="width: 80%;" src="../../../assets/image/hours.png" class="img-responsive" />
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-4  col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/faq">
						<img style="width: 80%;" src="../../../assets/image/faq.png" class="img-responsive" />
					</a>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="home-headline"><span>Featured Books</span></div>
		<hr style="margin-top: -15px;" />
	</div>

	<img class="img-responsive" src="../../../assets/image/2.png" style="margin-top: -5px; height:200px; z-index:-1;" />

	<div class="row" style="margin:auto; margin-top:-150px; margin-bottom:50px; width:90%;">
		<div class="col-xs-2 col-md-2">
			<img class="img-responsive" style="width: 100%;" src="../../../assets/image/3.png" />
		</div>
		<div class="col-xs-2 col-md-2">
			<img class="img-responsive" style="width: 100%;" src="../../../assets/image/3.png" />
		</div>
		<div class="col-xs-2 col-md-2">
			<img class="img-responsive" style="width: 100%;" src="../../../assets/image/3.png" />
		</div>
		<div class="col-xs-2 col-md-2">
			<img class="img-responsive" style="width: 100%;" src="../../../assets/image/3.png" />
		</div>
		<div class="col-xs-2 col-md-2">
			<img class="img-responsive" style="width: 100%;" src="../../../assets/image/3.png" />
		</div>
		<div class="col-xs-2 col-md-2">
			<img class="img-responsive" style="width: 100%;" src="../../../assets/image/3.png" />
		</div>
	</div>
</div>