<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.jpf.demo.toolbox.dbbrowser.jaybird" version="0.0.1">
	<requires>
		<import plugin-id="org.jpf.demo.toolbox.dbbrowser" />
	</requires>
	<runtime>
		<library id="jaybirdDbDriver" path="lib/firebirdsql-full.jar"
			type="code" />
	</runtime>
	<extension plugin-id="org.jpf.demo.toolbox.dbbrowser"
		point-id="Database" id="firebirdDatabase">
		<doc caption="JayBird Driver URL Format Notes">
			<doc-text>
				<![CDATA[<H2>JDBC URL Format</H2>
<P><CODE>jdbc:firebirdsql:host[/port]:/path/to/db.fdb</CODE>
<BR><CODE>jdbc:firebirdsql://host[:port]/path/to/db.fdb</CODE></P>
<P>Default URL, will connect to the database using type 4 JDBC driver. Best suited for client-server applications with dedicated database server. Port can be omitted (default value is 3050), host name must be present.</P>
<P>First format is considered official, second - compatibility mode for InterClient migration.</P>]]>
			</doc-text>
		</doc>
		<parameter id="vendor" value="FirebirdSQL" />
		<parameter id="driverClass"
			value="org.firebirdsql.jdbc.FBDriver" />
	</extension>
</plugin>